<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="hello" class="spring02.HelloService"></bean>
	<bean id="helloEng" class="spring02.HelloServiceEng"></bean>
	
	<bean id="bs" class="book.BookService">
		<!-- <constructor-arg ref="bd"></constructor-arg> --> <!-- 생성자를 통한 객체 싱성 -->
		<property name="dao" ref="bd"></property> <!-- Setter를 통한 객체 생성 -->
	</bean>
	<bean id="bd" class="book.BookDao"></bean>
</beans>
